html,
body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    /* position: fixed; */
    background-color: #3D4633;
    font-size: 12px;
}

header .header__content {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(88, 94%, 93%);
}

header .header__content i {
    padding: 0 5px;
}

header .header__content .header__info {
    width: 40%;
}

header .header__content .header__info ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

header .header__content .header__info ul li {
    padding: 8px 15px;
    border: 1px solid #62774a;
    border-radius: 30px;
}

header .header__content .header__info ul li {}

header .header__content .header__logo {
    /* flex: 1; */
    width: 20%;
    text-align: center;
}

header .header__content .header__logo img {
    width: 100px;
}

header .header__content .header__right {
    width: 40%;

}

header .header__content .header__right ul {
    display: flex;
    justify-content: right;
    gap: 15px;
    list-style: none;
}

header .header__content .header__right ul li {
    padding: 8px 15px;
    border: 1px solid #62774a;
    border-radius: 30px;
}

header .header__content .header__right ul li i {
    font-size: 15px;
}